body{
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.container{
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    min-width: 500px;
    height: 90vh;
    color: White;
}
.container div{
    margin: 0 10 0 10;
}
.title{
    font-size: 36px;
    color: white;
    text-shadow: -1px 0 darkred, 0 1px darkred, 1px 0 darkred, 0 -1px darkred;
    font-family: fantasy;
}
#start{
    background-color: lightcoral;
    border: 2px solid darkred;
    width: 100px;
    margin: 0 auto;
    margin-top: 23%;
    font-size: 30px;
}
.text{
    margin-top: 10px;
}
img{
    height: 350px;
}
@media only screen and (max-width: 600px) {
    body{
        background-size: auto;
        
    }
    .title{
        font-size: 16px;
    }
    #start{
        font-size: 16px;
        width: 50px;
        margin-top: 50px;
    }
    .container{
        width: 50%;
        min-width: 200px;
    }
    img{
        height: 100px;
    }
  }